.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 80vh;
    width: clamp(30rem, 35vw , 40rem);

    border-radius: 25px;
    margin-inline: auto;

    background: linear-gradient(180deg, 
                    rgba(0, 0, 0, 0.0276) 0%, 
                    rgba(0, 0, 0, 0.06) 0%, 
                    rgba(255, 255, 255, 0.06) 0%, 
                    rgba(135, 141, 177, 0.0297472) 51.48%, 
                    rgba(90, 98, 138, 0.06) 100%);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #88BEEF;

    padding-inline: 7%;
}



@media (min-width:35rem){
    .box-container{
        padding-inline: 5%;
    }
}


.backMenu{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 39px 19px 25px;
}

.back{
    font-weight: 600;
}
.backMenu > img{
    width: 20px;
    height: 18px;
}